/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  max-width: 40rem;
  margin: 1rem auto;
}

.Navbar {
  background-color: #dcdcdc;
  border-bottom: 2px solid #a1a1a1;
  text-align: center;
  padding-top: 0.5rem;
}

/* .quill, .Toolbar, .DocumentList {
  max-width: 40rem;
  margin: 1rem auto;
} */

.Toolbar button, .newButton {
  display: flex;
  align-items: center;
}

.Toolbar button svg,
.newButton svg {
  width: 1rem;
  margin-right: 0.2rem;
}

a {
  text-decoration: none;
}
