body {
  margin: 0;
  background-color: #F8F9FA;
}

#root {
  display: grid;
  grid-auto-flow: row;
}

.Navbar {
  display: grid;
  padding: 0 1rem;
  grid-auto-flow: column;
  background-color: #fff;
  text-align: center;
  padding-top: 0.5rem;
  grid-auto-columns: max-content;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E7EB;
}

.content, .DocumentList {
  width: 48rem;
  border: 1px solid #E5E7EB;
  border-radius: 0.25rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.DocumentList li a {
  display: flex;
}

.DocumentList svg {
  width: 1.25rem;
  margin-right: 0.25rem;
}

.content {
  box-shadow: rgb(60 64 67 / 15%) 0px 3px 3px 1px;
  justify-self: center;
  width: 52rem;
}

.content input {
  min-width: 12rem;
  width: auto;
  font-weight: 400;
  font-size: 1.125rem;
  border: 1px solid rgba(60, 64, 67, 0);
  border-radius: 2px;
}

.content input:hover {
  border-color: rgba(60, 64, 67, 0.1);
  box-shadow: rgba(60, 64, 67, 0.05) 0 0 0 1px;
}
.content input:active, .content input:focus {
  border-color: rgba(60, 64, 67, 0.15);
  outline: none;
  box-shadow: rgb(96, 165, 250) 0 0 0 3px;
}

.DocumentList h2 {
  font-size: 120%;
  font-weight: 500;

}

.quill {
  background-color: #fff;
  margin-top: 1rem;
}

.ql-container.ql-snow {
  border: 0;
  min-height: 12rem;
}

.ql-editor {
  min-height: 54rem;
}

.Toolbar {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #E5E7EB;
}

.Navbar ~ .Toolbar {
  margin-top: -1px;
}

.Toolbar, .Toolbar div {
  background-color: #fff;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.Toolbar div {
  gap: 0.3rem;
}

.Toolbar .InputField {
  margin: 0;
  width: 12rem;
}

.Toolbar button, .Toolbar input[type="button"] {
  padding: 0.3rem;
}

.Toolbar button, .newButton {
  display: flex;
  align-items: center;
}

.Toolbar button svg,
.newButton svg {
  width: 1rem;
  margin-right: 0.2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

ul li a {
  color: #5F6368;
  text-decoration: none;
  font-weight: 600;
}

ul li a:hover {
  color: #202124;
}

.main-pane {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}

.CommentList {
  width: 18rem;
  margin-right: 1rem;
  display: grid;
  justify-self: center;
  grid-auto-rows: max-content;
}

.CommentList li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid rgba(60, 64, 67, 0.15);
  cursor: pointer;
}

.CommentList li:hover {
  border-color: rgba(60, 64, 67, 0);
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.CommentList button {
  border: none;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  background: none;
  cursor: pointer;
}

.CommentList button:hover, .CommentList button:active, .CommentList button:focus {
  background: rgba(60, 64, 67, 0.08);
}

.CommentList button svg {
  color: rgb(37, 99, 235);
  width: 100%;
}

.codemode-true .content {
  background-color: #1e1e1e;
  max-width: 100%;
  width: calc(100vw - 3.25rem );
  height: 80rem;
  margin-top: 0;
}

.codemode-true .content input {
  background-color: #1e1e1e;
  color: #d4d4d4;
  margin-bottom: 0.25rem;
}

.savedDialog {
  background-color: #DBEAFE;
  display: table;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  border-radius: 8px;
  margin-bottom: 0.25rem;
}

.savedDialog span {
  margin-left: 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

.codemode-true .savedDialog {
  background-color: #1E3A8A;
  color: #DBEAFE;
}
